<!DOCTYPE html>
<html>
  <head>
    <title>pissandshitimages - view</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta
      property="og:title"
      content="PISSANDSHITIMAGES.VERCEL.APP - THE BEST IMAGE HOSTER EVER"
    />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="image" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <script src="/oneko.js"></script>
    <h1>🚽 pissandshitimages 💩</h1>
    <div class="image-container">
      <img id="main-image" src="" alt="Shitified image" />
      <div class="info">
        <div class="shitification" id="shitification-info">
          <!-- Shitification info will be inserted here -->
        </div>
        <div class="date" id="date-info">
          <!-- Date info will be inserted here -->
        </div>
        <div class="shame" id="shame-message" style="display: none">
          <!-- Shame message will be inserted here -->
        </div>
      </div>
      <a href="/gallery">🔙 Back to gallery</a>
    </div>
  </body>
</html>
