<!DOCTYPE html>
<html>
  <head>
    <title>pissandshitimages - THE BEST IMAGE HOSTER EVER</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <script src="/oneko.js"></script>
    <h1>🚽 pissandshitimages - THE BEST IMAGE HOSTER EVER 💩</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image" required accept="image/*" />
      <br />
      <div class="checkbox-wrapper">
        <input type="checkbox" name="hide" id="hide" />
        <label for="hide">🕶️ Hide image (YOU COWARD!)</label>
      </div>
      <br />
      <button type="submit">📸 UPLOAD THIS SHIT! 🎲</button>
    </form>
    <div style="margin-top: 20px">
      <a href="/gallery" style="margin-right: 15px">🖼️ View Gallery</a>
      <a href="/leaderboard" style="margin-right: 15px">🏆 Leaderboard</a>
      <a href="/sharexconfig" class="sharex-button"
        >📥 Download ShareX Config</a
      >
    </div>
  </body>
</html>
